@import "../base/color";
@import "../base/font";

// html
// <a href="./shop_list.html"><button class="btn"><span>立即訂購</span><img src="./images/icon_cart.svg" alt="購物車圖示"></button></a>

.btn {
  display: flex;
  background-color: $primary;
  border-radius: 32px;
  border: none;
  min-width: max-content;
  padding: 10px 10px;
  cursor: pointer;

  span {
    color: $white;
    font-size: $fontbase-14;
  }

  &:hover {
    background-color: $secondary;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.33);
  }

  &:hover span {
    color: $white;
  }

  img {
    vertical-align: text-bottom;
    height: 14px;
    width: 14px;
    margin: 0px 4px;
  }
}