// 主視覺 color--------------------------
$primary: #007C7D; //小綠、card-border、btn-hover
$secondary: #52A885; //btn
$neutral-light: #F8F7EE; //nav
$neutral-dark: #353239; //footer、後台 nav、 form 表頭

// 吉祥物 color-------------------
$mascot-skin: #F6E6D0;
$mascot-green: #007C7D;

// 灰階 color--------------------------
$white: #ffffff;
$gray-100: #F8F8F8;
$gray-300: #F2F2F2;
$gray-500: #D8D8D8;
$gray-700: #9D9D9D;
$gray-900: #646464;
$black: #000000; //base-font-color